<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FirstName %><br>
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br>
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :EmployeeId %><br>
    <%= f.text_field :EmployeeId %>
  </div>
  <div class="field">
    <%= f.label :EmailAddress %><br>
    <%= f.text_field :EmailAddress %>
  </div>
  <div class="field">
    <%= f.label :Department %><br>
    <%= f.text_field :Department %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
