<h1>Listing medical_providers</h1>

<table>
  <thead>
    <tr>
      <th>Specialty</th>
      <th>String</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_providers.each do |medical_provider| %>
      <tr>
        <td><%= medical_provider.Specialty %></td>
        <td><%= medical_provider.string %></td>
        <td><%= medical_provider.street %></td>
        <td><%= medical_provider.City %></td>
        <td><%= medical_provider.Zip %></td>
        <td><%= link_to 'Show', medical_provider %></td>
        <td><%= link_to 'Edit', edit_medical_provider_path(medical_provider) %></td>
        <td><%= link_to 'Destroy', medical_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical provider', new_medical_provider_path %>
